---
import Layout from "../layouts/Layout.astro";
import Cloud from "../components/cloud.astro";
import "../util/intersection.css";
---

<script>
	import Intersect from "../util/intersection";
	Intersect();
</script>

<Layout title="Welcome to Astro.">
	<main>
		<section
			class="w-full min-h-[100svh] bg-gradient-to-t from-primary to-accent smol-stack-layout overflow-hidden"
		>
			<div
				class="place-self-center blur-sm flex-col lg:flex-row smol-flexbox-grid justify-evenly w-[80%] h-[80%] lg:max-w-[60%] lg:max-h-[60%]"
			>
				<Cloud class="scale-[400%] z-20" />
				<Cloud class="scale-[300%] z-10" />
				<Cloud class="scale-[300%] z-20" />
				<Cloud class="scale-[300%] z-20" />
				<Cloud class="scale-[400%] z-20" />
				<Cloud class="scale-[350%] z-10" />
				<Cloud class="scale-[300%] z-40" />
				<Cloud class="scale-[300%] z-20" />
				<Cloud class="scale-[300%] z-10" />
				<Cloud class="scale-[400%] z-20" />
			</div>
			<div
				class="flex self-stretch flex-col flex-grow justify-between place-self-start lg:place-self-center z-50 m-12"
			>
				<div>
					<!-- <h1 class="text-2xl my-6 font-serif text-accent">
						psykolog Maria Andersson
					</h1> -->
					<h2
						class="text-xl lg:text-3xl font-serif font-semibold text-secondary"
					>
						Samtal som <p class="italic w-[9ch]">
							lindrar och förändrar
						</p>
					</h2>
					<p
						class="text-teal-900 dark:text-secondary text-md my-6 max-w-[40ch]"
					>
						Privat psykoterapi med affektfokuserad inriktning i
						centrala Borås med leg psykolog Maria Andersson.
					</p>
				</div>
				<div class="flex lg:justify-end">
					<a
						href="/tider"
						class="btn btn-outline w-full lg:w-fit hover:btn-active hover:text-primary btn-secondary text-right"
						>Boka en tid</a
					>
				</div>
			</div>
		</section>
		<section
			class="w-full min-h-[100svh] bg-base-100 to-accent smol-stack-layout"
		>
			<div
				class="place-self-center w-full h-9/10 md:w-2/3 lg:w-8/10 lg:h-6/8 px-6 py-12"
			>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
					<h2
						class="text-3xl lg:col-span-1 lg:col-start-2 text-left font-serif text-accent reveal my-12"
					>
						<p class="max-w-[10ch] lg:max-w-full">
							psykolog Maria Andersson
						</p>
					</h2>
					<div class="mx-auto lg:w-4/5">
						<img
							src="placeholder.png"
							class="rounded-2xl shadow-lg reveal"
						/>
					</div>
					<ul
						class="flex flex-col justify-evenly list-disc grow px-4 max-w-[50ch]"
					>
						<li class="text-primary text-lg my-2 reveal">
							Legitimerad psykolog
						</li>
						<li class="text-primary text-lg my-2 reveal">
							Certifierad ISTDP-terapeut
						</li>
						<li class="text-primary text-lg my-2 reveal">
							Flera års erfarenhet ifrån vuxenpsykiatrisk
							beroendevård och en kortare tid inom primärvård.
							Arbetar nu som skolpsykolog på gymnasienivå i Borås
						</li>
						<li class="text-primary text-lg my-2 reveal">
							Goda kunskaper om anknytningsteori,
							beroendepsykologi, neuropsykologi samt
							trauma-relaterade tillstånd och symtom
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="w-full min-h-[100svh] bg-secondary md:pt-24 py-8">
			<div class="max-w-screen-lg px-4 md:pl-12 mx-auto">
				<h2
					class="reveal text-3xl font-serif text-accent reveal mt-4 mb-24"
				>
					Samtal som lindrar och förändrar
				</h2>
				<div class="max-w-[40ch] flex flex-col gap-6">
					<p class="reveal">
						Ibland är livet svårt och kan kännas nästan omöjligt att
						hantera. Kanske bär du på ångest, självhat, nedstämdhet,
						sorg som inte går över, dricker för mycket alkohol eller
						har svårigheter att vara i relation med andra. Kanske är
						du ensam eller så vill du inte prata med någon du känner
						om dina problem.
					</p>
					<p class="italic reveal">
						Då kan det vara hjälpsamt att prata med en psykolog.
					</p>
					<p class="reveal">
						Det är först när vi blir medvetna om problem som de går
						att rätta till. En trygg relation gör det enklare att
						våga och orka vända blicken inåt.
					</p>
					<p class="reveal">
						Hos mig får du ett aktivt, intresserat och empatiskt
						bemötande och vi utgår alltid ifrån vad just du vill ha
						min hjälp med.
					</p>
					<p class="reveal">
						Tillsammans kan vi få syn på dina inre känslomässiga
						problem och de inlärda omedvetna psykologiska försvar
						som bidrar till att du inte mår bra. Vår relation kan på
						så vis bli en effektiv katalysator till positiv
						förändring.
					</p>
				</div>
			</div>
		</section>

		<section class="w-full min-h-[80svh] bg-primary pt-8 md:pt-24 pb-24">
			<div class="max-w-screen-xl px-4 mx-auto">
				<h2
					class="reveal text-3xl font-serif text-accent reveal mt-4 mb-24 w-full sm:w-4/5 md:w-2/3 xl:w-full mx-auto"
				>
					Mitt sätt att arbeta
				</h2>
				<div
					class="grid w-full sm:w-4/5 md:w-2/3 xl:w-full mx-auto gap-12 grid-cols-1 xl:grid-cols-3"
				>
					<p class="reveal max-w-[40ch]">
						Den metod jag vanligen arbetar med heter <span
							class="italic"
							>Intensive Short-Term Dynamic Psychotherapy
						</span>(ISTDP). ISTDP är en modern affektfokuserad
						psykoterapimetod som bygger på anknytningsteori och
						psykodynamisk teori. Med affektfokus menas att
						uppmärksammandet av känslor eller frånvaron av känslor
						är centralt i behandlingen, tillsammans med symtom på
						ångest och dina tankar. ISTDP är en metod som ger mycket
						god möjlighet att anpassa behandlingen efter dina
						specifika behov och efter hur just du fungerar.
					</p>
					<p class="reveal max-w-[40ch]">
						ISTDP är en vetenskapligt beprövad metod som har
						undersökts i omkring fyrtio randomiserade kontrollerade
						studier. ISTDP har än så länge vetenskapligt stöd vid de
						flesta former av psykisk ohälsa såsom depression,
						ångest, PTSD, beroende, borderline, psykos, bipolaritet
						och osjälvständighet. Det finns även stöd för behandling
						av psykosomatiska besvär/medicinskt oförklarade symptom
						såsom huvudvärk, smärtproblematik, yrsel, illamående och
						IBS med mera. Om du vill veta mer om ISTDP rekommenderar
						jag ett besök på <a
							href="https://istdpsweden.se"
							class="underline hover:text-accent"
							target="_blank"
							>svenska föreningen för ISTDP:s hemsida</a
						>
					</p>
					<p class="reveal max-w-[40ch]">
						Mitt grundläggande förhållningssätt är att vårt sätt att
						vara och fungera på utvecklas i relation till andra, oss
						själva och till de sammanhang vi befinner oss i. Våra
						allra tidigaste relationer är emellertid särskilt
						betydelsefulla men det är också självklart att alla våra
						livserfarenheter spelar roll. I min grundutbildning till
						psykolog ingick både psykodynamisk psykoterapi (PDT) och
						kognitiv beteendeterapi (KBT). Under mina år i
						vuxenpsykiatri och primärvård har jag arbetat parallellt
						och integrerat med arbetssätt ifrån båda spåren.
					</p>
				</div>
			</div>
		</section>
		<section class="w-full min-h-[80svh] bg-base-100 smol-stack-layout">
			<div
				class="place-self-center w-full h-9/10 md:w-2/3 lg:w-8/10 lg:h-6/8 px-6 py-12"
			>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-24">
					<div>
						<h2
							class="text-3xl font-serif text-accent reveal mb-12"
						>
							Tider
						</h2>
						<div class="reveal">
							<h3 class="text-lg font-serif text-primary">
								Provterapi
							</h3>
							<p class="mb-6">
								För att du så snabbt som möjligt ska kunna bilda
								dig en uppfattning om mig och det jag erbjuder
								inleds vanligen varje terapi med ett längre (90
								min) samtal. Om det känns bra för dig så bokar
								vi sedan ett eller flera samtal (à ca 45 min) i
								taget.
							</p>
						</div>
						<div class="reveal mb-6">
							<h3 class="text-lg font-serif text-primary">
								Behandlingsupplägg
							</h3>
							<p>
								En behandling är vanligen mellan 5-30 gånger men
								kan vara både kortare och längre. Vi kommer
								överens tillsammans om ett behandlingsupplägg
								som utgår ifrån din uppfattning om vad du
								behöver min hjälp med.
							</p>
						</div>
						<div class="reveal">
							<h3 class="text-lg font-serif text-primary">
								Avbokningar
							</h3>
							<p>
								När du har bokat en tid har du rätt att avboka
								den utan kostnad senast ett dygn i förväg. Bokar
								du av tiden efter det kostar den fullt pris.
							</p>
						</div>
					</div>
					<div>
						<h2
							class="text-3xl font-serif text-accent reveal mb-12"
						>
							Priser
						</h2>
						<div class="reveal">
							<h3 class="text-lg font-serif text-primary">
								Första besöket
							</h3>
							<p class="mb-6">90 minuter. 999 kr</p>
						</div>
						<div class="reveal">
							<h3 class="text-lg font-serif text-primary">
								Efterföljande besök
							</h3>
							<p>45 minuter. 999 kr.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="w-full bg-base-100 pb-40">
			<div class="w-full md:w-2/3 lg:w-8/10 lg:h-6/8 px-6 py-12 mx-auto">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
					<div>
						<h3 class="text-3xl text-accent mb-12 font-serif">
							Kontakt
						</h3>
						<p class="mb-6 text-primary text-xl max-w-[40ch]">
							Vill du veta mer om vad jag erbjuder eller boka en
							tid?
						</p>
						<p class="mb-6 text-primary text-xl max-w-[40ch]">
							Fyll i dina uppgifter så ringer jag upp dig så snart
							jag kan, vanligen senast nästa vardag.
						</p>
					</div>
					<form
						action="https://tider.psykologandersson.se/boka"
						method="post"
						class="flex flex-col justify-evenly max-w-sm self-stretch gap-4 border border-primary rounded-xl p-4"
					>
						<div class="form-control">
							<label class="label">Namn</label>
							<input
								name="name"
								inputmode="text"
								autocapitalize="words"
								autocomplete="name"
								required
								class="input input-bordered input-primary w-full"
							/>
						</div>
						<div class="form-control">
							<label class="label">Telefonnummer</label>
							<input
								name="tel"
								inputmode="tel"
								autocomplete="tel"
								required
								class="input input-bordered input-primary w-full"
							/>
						</div>
						<div class="form-control">
							<label class="label">Önskemål</label>
							<input
								name="special"
								inputmode="text"
								autocapitalize="words"
								autocomplete="name"
								class="input input-bordered input-primary w-full"
							/>
							<label class="label text-alt text-xs"
								>Här kan du skriva om det finns någon särskild
								tid mellan 17:00-21:00 som du inte kan svara i
								telefon</label
							>
						</div>
						<div class="form-control">
							<label
								class="label cursor-pointer flex justify-start gap-4 content-center"
							>
								<input
									type="checkbox"
									class="checkbox checkbox-primary text-base-100"
									required
								/>
								<span class="label-text text-sm"
									>Jag godkänner att dessa uppgifter hanteras
									enligt min integritetspolicy</span
								>
							</label>
						</div>
						<div
							class="form-control text-primary text-xs underline hover:text-accent"
						>
							<a href="/integritetspolicy"
								>Läs integritetspolicy</a
							>
						</div>
						<div class="form-control grow">
							<button
								class="btn btn-primary text-neutral-100 hover:btn-outline"
								type="submit">Skicka</button
							>
						</div>
					</form>
				</div>
			</div>
		</section>

		<style>
			.smol-stack-layout {
				display: grid;
				grid-template-areas: "stack";
				/* Set within the HTML for the demo */
				aspect-ratio: var(--stack-aspect-ratio);
			}

			.smol-stack-layout > * {
				grid-area: stack;
			}
			.smol-flexbox-grid {
				--min: 15vmax;
				--gap: -1rem;

				display: flex;
				flex-wrap: wrap;
				gap: var(--gap);
			}

			.smol-flexbox-grid > * {
				flex: 1 1 var(--min);
			}
		</style>
	</main>
	<footer class="footer bg-accent min-h-[33vh] text-base-100">
		<aside class="py-24 px-12">
			<h4 class="footer-title">Leg psykolog Maria Andersson</h4>
			<ul>
				<li>Innehar f-skatt.</li>
				<li>Medlem i Psykologföretagarna</li>
				<li>Certifierad ISTDP-terapeut</li>
			</ul>
		</aside>
	</footer>
</Layout>
