---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
import Kontakt from "../components/Kontakt.astro";
import Tid from "../components/Tider.astro";
import Istdp from "../components/Metod.astro";
import Cv from "../components/Cv.astro";
---

<Layout
    title="Arbetssätt och metod"
    description="ISTDP-terapi anpassad efter dina individuella behov i samarbete med leg psykolog Maria Andersson"
>
    <main>
        <Istdp />
        <Tid />
        <Kontakt />
        <Cv />
    </main>
</Layout>
