---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
import Kontakt from "../components/Kontakt.astro";
import Tid from "../components/Tider.astro";
import Istdp from "../components/Metod.astro";
import Cv from "../components/Cv.astro";
---

<Layout title="Psykolog Maria Andersson -- arbetssätt">
    <main>
        <Istdp />
        <Tid />
        <Kontakt />
        <Cv />
    </main>
</Layout>
