---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
import Kontakt from "../components/Kontakt.astro";
import Tid from "../components/Tider.astro";
import Metod from "../components/Metod.astro";
import Rational from "../components/Rational.astro";
import Cv from "../components/Cv.astro";
---

<Layout
    title="Om mig"
    description="leg psykolog Maria Andersson är certifierad ISTDP-terapeut och har flerårig erfarenhet inom vuxenpsykiatrisk beroendevård"
>
    <main>
        <Cv />
        <Rational />
        <Metod />
        <Tid />
        <Kontakt />
    </main>
</Layout>
