---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Psykolog Maria Andersson -- om mig">
    <main class="px-6 my-24 w-max mx-auto">
        <div class="prose">
            <h1>Integritetspolicy</h1>

            <p>
                Dataskyddsförordningen (GDPR, The General Data Protection
                Regulation) är en lag som gäller i hela EU från den 25 maj 2018
                och är till för att skydda enskildas grundläggande rättigheter
                och friheter, särskilt deras rätt till skydd av personuppgifter.
                Personuppgifter är alla uppgifter som direkt eller indirekt kan
                kopplas till en enskild person. Dataskyddsförordningen har också
                till syfte att skapa en enhetlig och likvärdig nivå för skyddet
                av personuppgifter så att det fria flödet av uppgifter inom
                Europa inte hindras. Samma regler gäller inom hela EU.
                Dataskyddsförordningen kompletteras med andra regler, som gäller
                till exempel de krav som ställs på patientjournaler
                (Patientdatalagen) och de lagar som handlar om sekretess och
                tystnadsplikt.
            </p>

            <h2>
                Ändamål och rättslig grund för behandling av personuppgifter
            </h2>
            <p>
                Personuppgiftsansvarig Leg psykolog XX är ansvarig för de
                personuppgifter som behandlas i samband med vårdkontakterna och
                använder de uppgifter du lämnar för att verksamheten ska kunna
                ge dig en bra service samt god och säker vård. Dina
                personuppgifter mottages och behandlas i samband med att du tar
                kontakt exempelvis via telefon, e-post, brev eller använder
                företagets webbplats. Exempel på personuppgifter är namn,
                adress, telefonnummer, personnummer.
            </p>

            <p>
                Legitimerade psykologer är skyldiga enligt lag
                (Patientdatalagen) att dokumentera vården genom att föra
                journal. Personuppgifterna används också i det systematiska och
                fortlöpande patientsäkerhetsarbetet. Uppgifterna är även till
                för att vara en informationskälla för dig som patient. Min
                verksamhet precis som alla vårdgivare står under tillsyn av
                Inspektionen för vård och omsorg (IVO) och i händelse av deras
                tillsyn fyller patientuppgifterna en viktig funktion.
                Personuppgifter kopplade till familjerådgivningsuppdrag förs i
                ett kundregister (enligt GDPR).
            </p>

            <h2>Uppgifter som krävs enligt lag</h2>
            <p>
                Enligt Patientdatalagen och Socialstyrelsens föreskrifter ställs
                krav på ett visst innehåll i patientjournalen. De krav som
                ställs är att vi ska föra in uppgifter om din identitet,
                väsentliga uppgifter om bakgrunden till vården, de bedömningar
                som verksamheten gör, de planeringar som görs och de åtgärder
                som genomförs. Vidare ställs krav på att vi anger vilken
                information vi har lämnat till dig som patient, om val av
                behandlingsalternativ, utfärdade intyg och remisser samt
                inkommande och utgående handlingar.
            </p>

            <h2>Regler om sekretess och säkerhet för uppgifterna</h2>
            <p>
                För alla patientuppgifter, både sådana du lämnar och sådana jag
                använder exempelvis i journalen, gäller de regler om
                tystnadsplikt som följer av Patientsäkerhetslagens bestämmelser.
            </p>

            <h2>Dina rättigheter</h2>
            <p>
                Du har rätt att få information om den personuppgiftsbehandling
                som sker. Du har även, med de begränsningar som följer av
                Patientdatalagen, rätt att få dina personuppgifter rättade, att
                få uppgifterna raderade, att kräva att behandlingen av uppgifter
                i vissa fall begränsas, samt att i vissa fall invända mot
                behandling. Du kan även ha rätt till skadestånd om dina
                personuppgifter i patientjournalen skulle behandlas i strid med
                reglerna i Patientdatalagen.
            </p>

            <h2>Mottagare av uppgifter</h2>

            <p>
                Uppgifter lämnas till utomstående endast om du i enskilda fall
                samtycker till det. I särskilda fall kan jag ha skyldighet
                enligt lag att lämna ut uppgifter. En sådan uppgiftsskyldighet
                gäller enligt reglerna i:
                <ul>
                    <li>Socialtjänstlagen, om ett barn far illa</li>
                    <li>
                        Socialförsäkringsbalken, när det gäller uppgifter som
                        behövs för beslut i socialförsäkringsärende.
                    </li>
                </ul>
            </p>
            <h2>Lagringstid</h2>
            <p>
                Dina personuppgifter sparas bara så länge de behövs för att
                genomföra de tjänster som Leg psykolog i enlighet med vad
                Patientdatalagen och bokföringslagen kräver. Vid
                familjerådgivningsuppdrag raderas personuppgifterna enligt
                datatillsynslagen senast 6 månader efter avslutat uppdrag.
                Personuppgifter som är patientinformation sparas enligt
                Patientdatalagen i minst 10 år efter senast gjorda
                journalanteckning. Personuppgifter som behövs vid fakturering
                sparas enligt bokföringslagen i 7 år.
            </p>

            <h2>Rätten att lämna klagomål</h2>
            <p>
                Du har rätt att lämna klagomål till Datainspektionen rörande
                verksamhetens behandling av dina personuppgifter.
            </p>

            <h2>Överföring av uppgifter till tredje land</h2>
             Dina personuppgifter överförs inte till tredje land (utanför EU).

            <p>Denna personuppgiftspolicy uppdaterades den 1 november 2018.</p>
        </div>
    </main>
</Layout>
