---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
---

<Layout title="Psykolog Maria Andersson -- bekräftelse på kontakt">
    <main class="h-[100svh] grid bg-base-100">
        <div class="place-self-center">
            <h2 class="text-primary font-serif text-3xl my-2">Tack!</h2>
            <p>Du kommer att bli uppringd så snart som möjligt.</p>
        </div>
    </main>
</Layout>
