---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
import Kontakt from "../components/Kontakt.astro";
import Tid from "../components/Tider.astro";
import Metod from "../components/Metod.astro";
import Rational from "../components/Rational.astro";
import Cv from "../components/Cv.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Psykolog Maria Andersson -- boka tid">
    <main>
        <Tid />
        <Kontakt />
        <Cv />
        <Rational />
        <Metod />
    </main>
</Layout>
