---
import Layout from "../layouts/Layout.astro";
import "../util/intersection.css";
import Kontakt from "../components/Kontakt.astro";
import Tid from "../components/Tider.astro";
import Metod from "../components/Metod.astro";
import Rational from "../components/Rational.astro";
import Cv from "../components/Cv.astro";
---

<Layout
    title="Tidsbokning och praktisk information"
    description="Privat psykoterapi i centrala Borås"
>
    <main>
        <Kontakt />
        <Tid />
        <Cv />
        <Rational />
        <Metod />
    </main>
</Layout>
