---
const { class: className, ...rest } = Astro.props;
---

<div
    class:list={[
        "rounded-full blur-md w-[10vmax] ascpect-square place-self-center bg-gradient-to-tl from-15% via-primary from-accent transform rotate-[33deg]",
        className,
    ]}
    style="aspect-ratio: 1/1;"
>
</div>
