---
const { class: className, ...rest } = Astro.props;
---

<div
    class:list={[
        "rounded-full w-[10vmax] blur-md ascpect-square place-self-center bg-gradient-to-tl from-15% via-mint-300 from-mint-600 transform rotate-[33deg]",
        className,
    ]}
    style="aspect-ratio: 1/1;"
>
</div>
