---

---

<section class="w-full min-h-[100svh] bg-base-100 to-accent smol-stack-layout">
    <div
        class="place-self-center w-full h-9/10 md:w-2/3 lg:w-8/10 lg:h-6/8 px-6 py-12"
    >
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <h2
                class="text-3xl lg:col-span-1 lg:col-start-2 text-left font-serif text-accent reveal my-12"
            >
                <p class="max-w-[10ch] lg:max-w-full">
                    psykolog Maria Andersson
                </p>
            </h2>
            <div class="mx-auto lg:w-4/5">
                <img
                    src="/placeholder.png"
                    class="rounded-2xl shadow-lg reveal"
                />
            </div>
            <ul
                class="flex flex-col justify-evenly list-disc grow px-4 max-w-[50ch]"
            >
                <li class="text-primary text-lg my-2 reveal">
                    Legitimerad psykolog
                </li>
                <li class="text-primary text-lg my-2 reveal">
                    Certifierad ISTDP-terapeut
                </li>
                <li class="text-primary text-lg my-2 reveal">
                    Flera års erfarenhet ifrån vuxenpsykiatrisk beroendevård och
                    en kortare tid inom primärvård. Arbetar nu som skolpsykolog
                    på gymnasienivå i Borås
                </li>
                <li class="text-primary text-lg my-2 reveal">
                    Goda kunskaper om anknytningsteori, beroendepsykologi,
                    neuropsykologi samt trauma-relaterade tillstånd och symtom
                </li>
            </ul>
        </div>
    </div>
</section>
