---

---

<section class="w-full min-h-[80svh] bg-primary pt-8 md:pt-24 pb-24">
    <div class="max-w-screen-xl px-4 mx-auto">
        <h2
            class="text-3xl font-serif text-accent reveal mt-4 mb-24 w-full sm:w-4/5 md:w-2/3 xl:w-full mx-auto"
        >
            Mitt sätt att arbeta
        </h2>
        <div
            class="grid reveal w-full sm:w-4/5 md:w-2/3 xl:w-full mx-auto gap-12 grid-cols-1 xl:grid-cols-3 text-primary-content"
        >
            <p class="max-w-[40ch]">
                Den metod jag vanligen arbetar med heter <span class="italic"
                    >Intensive Short-Term Dynamic Psychotherapy
                </span>(ISTDP). ISTDP är en modern affektfokuserad
                psykoterapimetod som bygger på anknytningsteori och
                psykodynamisk teori. Med affektfokus menas att uppmärksammandet
                av känslor eller frånvaron av känslor är centralt i
                behandlingen, tillsammans med symtom på ångest och dina tankar.
                ISTDP är en metod som ger mycket god möjlighet att anpassa
                behandlingen efter dina specifika behov och efter hur just du
                fungerar.
            </p>
            <p class="max-w-[40ch]">
                ISTDP är en vetenskapligt beprövad metod som har undersökts i
                omkring fyrtio randomiserade kontrollerade studier. ISTDP har än
                så länge vetenskapligt stöd vid de flesta former av psykisk
                ohälsa såsom depression, ångest, PTSD, beroende, borderline,
                psykos, bipolaritet och osjälvständighet. Det finns även stöd
                för behandling av psykosomatiska besvär/medicinskt oförklarade
                symptom såsom huvudvärk, smärtproblematik, yrsel, illamående och
                IBS med mera. Om du vill veta mer om ISTDP rekommenderar jag ett
                besök på <a
                    href="https://istdpsweden.se"
                    class="underline hover:text-accent"
                    target="_blank">svenska föreningen för ISTDP:s hemsida</a
                >
            </p>
            <p class="max-w-[40ch]">
                Mitt grundläggande förhållningssätt är att vårt sätt att vara
                och fungera på utvecklas i relation till andra, oss själva och
                till de sammanhang vi befinner oss i. Våra allra tidigaste
                relationer är emellertid särskilt betydelsefulla men det är
                också självklart att alla våra livserfarenheter spelar roll. I
                min grundutbildning till psykolog ingick både psykodynamisk
                psykoterapi (PDT) och kognitiv beteendeterapi (KBT). Under mina
                år i vuxenpsykiatri och primärvård har jag arbetat parallellt
                och integrerat med arbetssätt ifrån båda spåren.
            </p>
        </div>
    </div>
</section>
