---

---

<section class="w-full min-h-[100svh] bg-secondary md:pt-24 py-12">
    <div class="max-w-screen-lg reveal px-4 md:pl-12 mx-auto">
        <h2 class="reveal text-3xl font-serif text-accent reveal mt-4 mb-24">
            Samtal som lindrar och förändrar
        </h2>
        <div class="max-w-[40ch] flex flex-col gap-6">
            <p class="">
                Ibland är livet svårt och kan kännas nästan omöjligt att
                hantera. Kanske bär du på ångest, självhat, nedstämdhet, sorg
                som inte går över, dricker för mycket alkohol eller har
                svårigheter att vara i relation med andra. Kanske är du ensam
                eller så vill du inte prata med någon du känner om dina problem.
            </p>
            <p class="italic reveal">
                Då kan det vara hjälpsamt att prata med en psykolog.
            </p>
            <p class="">
                Det är först när vi blir medvetna om problem som de går att
                rätta till. En trygg relation gör det enklare att våga och orka
                vända blicken inåt.
            </p>
            <p class="">
                Hos mig får du ett aktivt, intresserat och empatiskt bemötande
                och vi utgår alltid ifrån vad just du vill ha min hjälp med.
            </p>
            <p class="">
                Tillsammans kan vi få syn på dina inre känslomässiga problem och
                de inlärda omedvetna psykologiska försvar som bidrar till att du
                inte mår bra. Vår relation kan på så vis bli en effektiv
                katalysator till positiv förändring.
            </p>
        </div>
    </div>
</section>
