---

---

<section
    class="w-full min-h-[80svh] bg-mint-50 dark:bg-sand-900 smol-stack-layout"
>
    <div class="place-self-center px-6 my-20 md:px-24">
        <div
            class="grid grid-cols-1 reveal lg:grid-cols-3 gap-12 lg:gap-24 justify-items-center justify-center place-content-stretch"
        >
            <div>
                <h2
                    class="text-3xl font-serif text-mint-600 dark:text-sand-600 reveal mb-12"
                >
                    Upplägg
                </h2>
                <div class="">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Provterapi
                    </h3>
                    <p class="mb-6">
                        För att du så snabbt som möjligt ska kunna bilda dig en
                        uppfattning om mig och det jag erbjuder inleds vanligen
                        varje terapi med ett längre (90 min) samtal. Om det
                        känns bra för dig så bokar vi sedan ett eller flera
                        samtal (à ca 50 min) i taget.
                    </p>
                </div>
                <div class="mb-6">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Behandlingslängd
                    </h3>
                    <p>
                        En behandling är vanligen mellan 5-30 gånger men kan
                        vara både kortare och längre. Vi kommer överens
                        tillsammans om ett behandlingsupplägg som utgår ifrån
                        din uppfattning om vad du behöver min hjälp med.
                    </p>
                </div>
            </div>
            <div>
                <h2
                    class="text-3xl font-serif text-mint-600 dark:text-sand-600 reveal mb-12"
                >
                    Praktiskt
                </h2>
                <div class="">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Mottagningsadress
                    </h3>
                    <p class="mb-6">
                        <a
                            href='https://maps.app.goo.gl/AmQBrtQfv53ys21u5"'
                            target="_blank"
                            class="text-mint-600 dark:text-sand-600 underline hover:text-mint-300 dark:text-sand-300"
                        >
                            Fabriksgatan 11, våning 7<br />503 38 Borås</a
                        >
                    </p>
                </div>
                <div class="mb-6">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Lediga tider
                    </h3>
                    <p>För närvarande kan jag erbjuda tider på måndagar.</p>
                </div>
                <div class="">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Avbokningar
                    </h3>
                    <p>
                        När du har bokat en tid har du rätt att avboka den utan
                        kostnad senast ett dygn i förväg. Bokar du av tiden
                        efter det kostar den fullt pris.
                    </p>
                </div>
            </div>
            <div class="w-full">
                <h2
                    class="text-3xl font-serif text-mint-600 dark:text-sand-600 reveal mb-12"
                >
                    Priser
                </h2>
                <div class="">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Första besöket
                    </h3>
                    <p class="mb-6">90 minuter. 1900 kr</p>
                </div>
                <div class="">
                    <h3
                        class="text-lg font-serif text-mint-300 dark:text-sand-300"
                    >
                        Efterföljande besök
                    </h3>
                    <p>50 minuter. 1300 kr.</p>
                </div>
            </div>
        </div>
    </div>
</section>
