---

---

<section class="w-full min-h-[80svh] bg-base-100 smol-stack-layout">
    <div class="place-self-center px-24">
        <div
            class="grid grid-cols-1 lg:grid-cols-3 gap-24 justify-items-center justify-center place-content-stretch"
        >
            <div>
                <h2 class="text-3xl font-serif text-accent reveal mb-12">
                    Upplägg
                </h2>
                <div class="reveal">
                    <h3 class="text-lg font-serif text-primary">Provterapi</h3>
                    <p class="mb-6">
                        För att du så snabbt som möjligt ska kunna bilda dig en
                        uppfattning om mig och det jag erbjuder inleds vanligen
                        varje terapi med ett längre (90 min) samtal. Om det
                        känns bra för dig så bokar vi sedan ett eller flera
                        samtal (à ca 45 min) i taget.
                    </p>
                </div>
                <div class="reveal mb-6">
                    <h3 class="text-lg font-serif text-primary">
                        Behandlingslängd
                    </h3>
                    <p>
                        En behandling är vanligen mellan 5-30 gånger men kan
                        vara både kortare och längre. Vi kommer överens
                        tillsammans om ett behandlingsupplägg som utgår ifrån
                        din uppfattning om vad du behöver min hjälp med.
                    </p>
                </div>
            </div>
            <div>
                <h2 class="text-3xl font-serif text-accent reveal mb-12">
                    Praktiskt
                </h2>
                <div class="reveal">
                    <h3 class="text-lg font-serif text-primary">
                        Mottagningsadress
                    </h3>
                    <p class="mb-6">
                        Fabriksgatan 11, våning 7<br />503 38 Borås
                    </p>
                </div>
                <div class="reveal mb-6">
                    <h3 class="text-lg font-serif text-primary">
                        Lediga tider
                    </h3>
                    <p>För närvarande kan jag erbjuda tider på måndagar.</p>
                </div>
                <div class="reveal">
                    <h3 class="text-lg font-serif text-primary">Avbokningar</h3>
                    <p>
                        När du har bokat en tid har du rätt att avboka den utan
                        kostnad senast ett dygn i förväg. Bokar du av tiden
                        efter det kostar den fullt pris.
                    </p>
                </div>
            </div>
            <div class="w-full">
                <h2 class="text-3xl font-serif text-accent reveal mb-12">
                    Priser
                </h2>
                <div class="reveal">
                    <h3 class="text-lg font-serif text-primary">
                        Första besöket
                    </h3>
                    <p class="mb-6">90 minuter. 999 kr</p>
                </div>
                <div class="reveal">
                    <h3 class="text-lg font-serif text-primary">
                        Efterföljande besök
                    </h3>
                    <p>45 minuter. 999 kr.</p>
                </div>
            </div>
        </div>
    </div>
</section>
