---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="sv">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Noto+Serif:ital,wght@0,600;1,600&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title} &ndash; leg psykolog Maria Andersson</title>
	</head>
	<body>
		<slot />
	</body>
	<footer
		class="footer bg-mint-600 dark:bg-sand-600 min-h-[25vh] text-mint-50 dark:text-sand-50"
	>
		<aside class="py-24 px-12">
			<h4 class="footer-title">Leg psykolog Maria Andersson</h4>
			<ul>
				<li>Innehar f-skatt.</li>
				<li>Medlem i Psykologföretagarna</li>
				<li>Certifierad ISTDP-terapeut</li>
			</ul>
		</aside>
		<div class="place-self-start p-12 md:place-self-center">
			<h4 class="footer-title">Sidor</h4>
			<ul>
				<li><a href="/tider">Tidsbokning</a></li>
				<li><a href="/om">Om mig</a></li>
				<li><a href="/metod">Arbetssätt och metod</a></li>
				<li><a href="/personuppgifter">Intergritetspolicy</a></li>
			</ul>
		</div>
	</footer>
</html>
<style is:global>
	.smol-stack-layout {
		display: grid;
		grid-template-areas: "stack";
		/* Set within the HTML for the demo */
		aspect-ratio: var(--stack-aspect-ratio);
	}

	.smol-stack-layout > * {
		grid-area: stack;
	}
	.smol-flexbox-grid {
		--min: 9vmax;
		--gap: -1rem;

		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
	}

	.smol-flexbox-grid > * {
		flex: 1 1 var(--min);
	}
</style>

<script>
	import Intersect from "../util/intersection";
	Intersect();
</script>
