---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sv">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Noto+Serif:ital,wght@0,600;1,600&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<footer class="footer bg-accent min-h-[25vh] text-base-100">
		<aside class="py-24 px-12">
			<h4 class="footer-title">Leg psykolog Maria Andersson</h4>
			<ul>
				<li>Innehar f-skatt.</li>
				<li>Medlem i Psykologföretagarna</li>
				<li>Certifierad ISTDP-terapeut</li>
			</ul>
		</aside>
	</footer>
</html>
<style is:global>
	.smol-stack-layout {
		display: grid;
		grid-template-areas: "stack";
		/* Set within the HTML for the demo */
		aspect-ratio: var(--stack-aspect-ratio);
	}

	.smol-stack-layout > * {
		grid-area: stack;
	}
	.smol-flexbox-grid {
		--min: 15vmax;
		--gap: -1rem;

		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
	}

	.smol-flexbox-grid > * {
		flex: 1 1 var(--min);
	}
</style>

<script>
	import Intersect from "../util/intersection";
	Intersect();
</script>
